<!DOCTYPE html>
<!-- 
  This file is part of GNU TALER.
  Copyright (C) 2014, 2015, 2016 INRIA

  TALER is free software; you can redistribute it and/or modify it under the
  terms of the GNU Lesser General Public License as published by the Free Software
  Foundation; either version 2.1, or (at your option) any later version.

  TALER is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License along with
  TALER; see the file COPYING.  If not, see <http://www.gnu.org/licenses/>
-->

<html data-taler-nojs="true">
<head>
  <title>Taler Donation Demo</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='web-common/pure.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='web-common/demo.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='web-common/taler-fallback.css') }}" id="taler-presence-stylesheet" />
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

<body>
  <div class="demobar">
    <h1><span class="tt adorn-brackets">Taler Demo</span></h1>
    <h1><span class="it"><a href="{{ env('TALER_ENV_URL_MERCHANT_DONATIONS') }}">Donations</a></span></h1>
    <p>This is the donation page, you can make donations (with an imaginary currency for now) to free software projects.</p>
    <ul>
      <li><a href="{{ env('TALER_ENV_URL_INTRO', '#') }}">Introduction</a></li>
      <li><a href="{{ env('TALER_ENV_URL_BANK', '#') }}">Bank</a></li>
      <li><a href="{{ env('TALER_ENV_URL_MERCHANT_BLOG', '#') }}">Essay Shop</a></li>
      <li><a href="{{ env('TALER_ENV_URL_MERCHANT_DONATIONS', '#') }}">Donations</a></li>
      <li><a href="{{ env('TALER_ENV_URL_MERCHANT_SURVEY', '#') }}">Tipping/Survey</a></li>
      <li><a href="{{ env('TALER_ENV_URL_BACKOFFICE', '#') }}">Back-office</a></li>
    </ul>
    <p>You can learn more about Taler on our main <a href="https://taler.net">website</a>.</p>
  </div>

  <section id="main" class="content">
    {% block main %}
      This is the main content of the page.
    {% endblock %}
    <hr />
    <div class="copyright">
      <p>Copyright &copy; 2014&mdash;2017 INRIA</p>
      <a href="/javascript" data-jslicense="1" class="jslicenseinfo">JavaScript license information</a>
    </div>
  </section>
</body>
</html>
