{% extends "templates/base.html" %}
{% block main %}
  <h1>An Error Occurred</h1>

  <p>{{ message }}</p>

  {% if status_code %}
  <p>The backend returned status code {{ status_code }}.</p>
  {% endif %}

  {% if json %}
  <p>Backend Response:</p>
  <pre>{{ json }}</pre>
  {% endif %}

  {% if stack %}
  <p>Stack trace:</p>
  <pre>
    {{ stack }}
  </pre>
  {% endif %}
{% endblock main %}
