{% extends "templates/base.html" %}

{% block main %}
<h1>Donation Receipt</h1>
<p> Thank you, <strong>{{ donation_donor }}</strong>, for donating <strong>{{ donation_amount }}</strong> to <strong>{{ donation_receiver }}</strong>.</p>

<p>Please keep the order identifier <strong>{{ order_id }}</strong> as a receipt for your donation.  You can show other people that you donated
by sharing <a href={{ request.url }}>this link</a> with them.</p>

<p>You can always make <a href="{{ url_for('index') }}">another donation</a></p>
{% endblock main %}
