{% extends "templates/base.html" %}

{% block main %}
<h1 lang="en">Welcome to the Taler Donation "Shop" Demo</h1>

<p>This toy donations website shows the user experience for donations with Taler.
You are paying with an imaginary currency ({{ merchant_currency }}).
</p>

<div>
  <p>Please select a project, the amount (*) of {{ merchant_currency }} you
    wish to donate, and enter the name that will appear on your receipt:</p>

  <form name="tform" action="checkout" method="GET" class="pure-form">
    <div class="participation" id="fake-shop">
      <select name="donation_receiver">
        <option value="GNUnet">GNUnet</option>
        <option value="Taler">GNU Taler</option>
        <option value="Tor">Tor</option>
      </select>
      <select id="taler-donation" name="donation_amount">
        <option value="{{ merchant_currency }}:0.1">0.1 {{ merchant_currency }}</option>
        <option value="{{ merchant_currency }}:1">1 {{ merchant_currency }}</option>
        <option value="{{ merchant_currency }}:6">5 {{ merchant_currency }}</option>
        <option value="{{ merchant_currency }}:10">10 {{ merchant_currency }}</option>
      </select>
      <input type="text" name="donation_donor" value="Anonymous Donor" />
      <input type="submit" class="pure-button pure-button-primary" value="Donate!" />
    </div>
  </form>
  <p>
    (*) To make it a bit more fun, the 5 {{ merchant_currency }} option is
    deliberately implemented with a fault: the merchant will try to make you
    donate 6 {{ merchant_currency }} instead of the 5 {{ merchant_currency }} you
    got to see.  But do not worry, you will be given the opportunity to review
    the final offer from the merchant in a window secured by the Taler
    extension.  That way, you can spot the error before committing to an
    incorrect contract.
  </p>
</div>

{% endblock %}
