{% extends "templates/base.html" %}

{% block main %}
<h1>Payment Provider Not Supported</h1>
<p>Unfortunately the selected payment provider is not supported in this demo. Please go back and select "Taler".</p>
{% endblock main %}
