{% extends "templates/base.html" %}


{% block meta %}
<noscript>
  <meta http-equiv="refresh" content="1">
</noscript>
{% endblock meta %}


{% block scripts %}
<script>
  let checkUrl = decodeURIComponent("{{ check_status_url_enc }}");
  let delayMs = 500;
  function check() {
    let req = new XMLHttpRequest();
    req.onreadystatechange = function () {
      if (req.readyState === XMLHttpRequest.DONE) {
        if (req.status === 200) {
          try {
            let resp = JSON.parse(req.responseText);
            if (resp.paid) {
              document.location.reload(true);
            }
          } catch (e) {
            console.error("could not parse response:", e);
          }
        }
        setTimeout(check, delayMs);
      }
    };
    req.onerror = function () {
      setTimeout(check, delayMs);
    }
    req.open("GET", checkUrl);
    req.send();
  }

  setTimeout(check, delayMs);
</script>
{% endblock scripts %}


{% block main %}

<h1>Payment Required</h1>

<div class="taler-installed-hide">
  <p>
  Looks like your browser doesn't support GNU Taler payments.  You can try
  installing a <a href="https://taler.net/en/wallet.html">wallet browser extension</a>.
  </p>
</div>

<div>

  <p>
  You can use this QR code to pay with your mobile wallet:
  </p>

  {{ qrcode_svg | safe }}

  <p>
  Click <a href="{{ taler_pay_uri }}">this link</a> to open your system's Taler wallet if it exists.
  </p>

</div>

{% endblock main %}
